*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	font-family: 'thonburi';
	z-index: 0;
	margin: 0 auto;
}
@font-face{
	font-family: 'thonburi';
    	
         src: url('Thonburi.tff') format('tff');
        
    font-weight: normal;
    font-style: normal;
}

#header{
	width: 100%;
	height: 80px;
	background-color: #FFCCDD;
	font-family: 'thonburi';
	z-index: 3
}
#header a img{
	float: left;
	max-height: 80px;
	margin-left: 25px;
}
#nav{
	list-style: none;
	float: left;
	text-align: center;
	margin-left: 75px;
	z-index: 100;
}
#nav li{
	float: left;
	margin-right: 15px;
}
#nav li a{
	display: block;
	text-decoration: none;
	margin-top: 35px;
	padding: 15px 27px 0px 30px;
	border-radius: 5px;
	font-size: 18px;

}
#nav li img{
	float: left;
	max-height: 30px;
	margin-top: -5px;
	margin-left:-20px;

}
#nav li a:hover{
	background-color: #CCBBDD;

}
#bartop{
	width: 1080px;
	margin: 0 auto;
}
#title{
	width: 100%;
	background-color: #FFCCDD;
	border-bottom: 2px solid #CCBBDD;
	height: 80px;
	position: fixed;
	z-index: 100;
}
#click{
	background-color: #CCBBDD;
}

#himg{
	width:1080px;
	height: 350px;
	background-color: #CCBBDD;
	margin: 0 auto;
}
#nav li a:hover{
	color: red;
}
#topic{
	height:70px;
	background-color: red;
}
#topic img{
	margin-top: 90px;
	margin-left: 180px;
}
#content{
		width: 	1080px;
		height: 650px;
		background-color: white;
		margin: 0 auto;
		border-radius: 3px;
		border-left: solid 1px #ECDFFF;
		border-right: solid 1px #ECDFFF;
}
#bar{
	width: 1100px;
	height: 40px;
	background-color: #ff7e00;
	margin: 0 auto;
	font-family: 'supermarket';
	font-size: 22px; 
	color: white;
}
#barright{
	float: right;
	padding-left: 30px;
}
#barleft{
	float: left;
}
#table  {
	padding-top:  25px;	
	text-align: center;
	
	font-family: 'supermarket';
}
#content-women{
		width: 	1080px;
		height: 800px;
		background-color: white;
		margin: 0 auto;
		border-radius: 3px;
		border-left: solid 1px #ECDFFF;
		border-right: solid 1px #ECDFFF;
}
#table-product  {
	padding-top:  25px;	
	text-align: center;
	padding-left:175px;
}
#nav-product{
	font-family: 'supermarket';
	float: left;
	margin-top: 50px;
	font-size: 20px;
	height: 200px;
	margin-left: 15px;



}
#nav-product ul li{
	color: pink;	
	list-style: none;
	border-bottom: solid 3px #ECDFFF;
	padding-right: 15px;
	border-radius: 3px;
}
#nav-product ul li{
	color: magenta;	
	list-style: none;
}
#nav-product ul :hover{
	background-color: #ECDFFF;

}
#nav-product ul li a{
	text-decoration: none;
	display: block;
	color: magenta;
	list-style: none;
}
#nav li ul li{
	float: inherit;
	border: 1px solid #ff7e00;
	border-radius: 3px;
	background-color: white;
	padding-top: -50px;

}

#nav li ul  {
	list-style: none;
	visibility: hidden;
	position: absolute;

}
#nav li:hover ul{
	visibility: visible;
}

#nav li ul li a{
	margin-top:0px;
	padding-right: 50px;
	text-align: center;
}
#copyright{
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto;
	width: 1080px;
	text-align: right;
	background-color: #ECDFFF;

}
#buy{
	background-color: #bae2e6;
	font-family: 'supermarket';
	font-size: 23px;
	border-radius: 5px;
	color: white;
}
#buy:hover{
	background-color: #f8eedc;
	font-family: 'supermarket';
	font-size: 23px;
	border-radius: 5px;
	color: red;

}
table {
	border-radius: 5px;
	border: 5px solid #bfebee;
	font-family: 'supermarket';


}
table  td{
	border-radius: 5px;
	border: 1px solid #bfebee;
}
#price{
	font-family: 'supermarket';



}

#table table a{
	text-decoration: none;
	display: block;


}
#table table{
	margin: 0 auto;
	font-size: 18px;
}

#contact{
		width: 	1080px;
		height: 400px;
		background-color: white;
		margin: 0 auto;
		border-radius: 3px;
		border-left: solid 1px #ECDFFF;
		border-right: solid 1px #ECDFFF;
}
table a{
	text-decoration: none;

}
